@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = null;
}
<html>
<head>
    <title>Oops!</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">
    <link href="~/Content/Error.css" rel="stylesheet" />

</head>
<body>
    <div id="notfound">
        <div class="notfound">
            @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
            {
                <div>
                    <p>
                        <b>Exception:</b> @Model.Exception.Message<br />
                        <b>Controller:</b> @Model.ControllerName<br />
                        <b>Action:</b> @Model.ActionName
                    </p>
                    <div style="overflow:scroll">
                        <pre>
                    @Model.Exception.StackTrace
                </pre>
                    </div>
                </div>
            }
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>Oops! This Page Could Not Be Found</h2>
            <p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
            @Html.ActionLink("Go To Homepage", "Index", "Home")
        </div>
    </div>
</body>
</html>
