@model IEnumerable<IMSBIZZ.Models.BeneficiaryViewModel>
@{
    /**/

    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            Beneficiary List
        </h1>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i> @Html.ActionLink("Home", "Index", "Beneficiary")</li>
            <li class="active">Beneficiary</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        @*<h3 class="box-title">Beneficiary Request</h3>*@
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("Select City")
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.FirstOrDefault().CityMaster.CityName, TempData["Cities"] as List<SelectListItem>, "SELECT CITY", new { @class = "form-control", @Id = "selectCity" })
                                </div>
                            </div>
                        </div>

                        <table id="beneficiarylist" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="hidden">
                                        BeneficiaryID
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.BeneficairyName)
                                    </th>
                                    @*<th>
                                            @Html.DisplayNameFor(model => model.FatherName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Mother)
                                        </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.MobileNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CityId)
                                    </th>
                                   
                                    <th>
                                        @Html.DisplayNameFor(model => model.AdharNo)
                                    </th>
                                   
                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td class="hidden">
                                        @Html.HiddenFor(modelItem => item.BeneficiaryId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BeneficairyName)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MobileNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CityName)
                                    </td>
                                   
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AdharNo)
                                    </td>
                                   
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.BeneficiaryId }, htmlAttributes: new { @class = "btn btn-default" })
                                        @*@Html.ActionLink("Details", "Details", new { id = item.BeneficiaryId }, htmlAttributes: new { @class = "btn btn-success" })*@
                                        @*@Html.ActionLink("Delete", "Delete", new { id = item.BeneficiaryId }, htmlAttributes: new { @class = "btn btn-danger" })*@
                                        @Html.ActionLink("Delete", "Delete", new { id = item.BeneficiaryId }, new { onclick = "return Confirm('" + @item.BeneficiaryId + "');", @class = "btn alert-danger" })
                                        @*@Html.ActionLink("Send SMS", "SendSMS", new { id = item.BeneficiaryId }, htmlAttributes: new { @class = "btn btn-default" })*@
                                    </td>

                                </tr>

                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

@*modal*@
<div class="modal fade" tabindex="-1" id="AlertModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <p id="AlertMessage"></p>
                        <label id="IdForDelete" style="display:none"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="footer">
                <button type="button" id="btnOk" class="btn btn-primary button button4" onclick="ReloadPage()">
                    Ok
                </button>
                <button type="button" id="btnYes" class="btn btn-primary button button4">
                    Yes
                </button>
                <button type="button" id="btnNo" class="btn btn-danger button button4">
                    No
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


        function ReloadPage() {
            window.location = '@Url.Action("Index")';
        }

    function Confirm(id) {
            debugger;
            $("#AlertMessage").text("Are you sure you wish to delete this Beneficiary?");
        $("#IdForDelete").val(id);
        $("#btnOk").hide();
        $("#AlertModal").modal('show');
            return false
        }

        $("#btnYes").click(function () {
            var label = $("#IdForDelete");
            var id = label.val();
            $("#AlertModal").modal('hide');
            var url = '@Url.Action("Delete", "Beneficiary")';
            var data = { id: id };
            $.ajax(
                {
                    type: "GET",
                    url: url,
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $("#AlertMessage").text("User deleted successfully");
                        $("#btnNo").hide();
                        $("#btnYes").hide();
                        $("#btnOk").show();
                        $("#AlertModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
        });

        $("#btnNo").click(function () {
            $("#AlertModal").modal('hide');
    });

    $(document).ready(function () {
        $('#beneficiarylist').dataTable();
        var dtBeneficiary = $('#beneficiarylist').dataTable();

        $('#selectCity').on('change', function () {
            debugger
            var selectedValue = $(this).val();
            if (selectedValue == "") {
                window.ReloadPage();
            }
            else {
                dtBeneficiary.fnFilter("^" + selectedValue + "$", 3, true);
            }
        });

    });
</script>
