@model IEnumerable<IMSBIZZ.Models.UserViewModel>
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Users
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Users</a></li>
            @*<li class="active">Dashboard</li>*@
        </ol>
    </section>
    <section class="content" id="Index">
        <div class="row">
            <div class="col-xs-12">
                @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
            </div>
        </div>
        <!-- left column -->
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                    </div>
                    <div class="box-body">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    @Html.Label("Select City")
                                </div>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.FirstOrDefault().CityName, TempData["Cities"] as List<SelectListItem>, "SELECT CITY", new { @class = "form-control", @Id = "selectCity" })
                                </div>
                            </div>
                        </div>
                        @*<div style="height: auto; overflow: auto;">*@
                        <table id="userGrid" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="display:none;">ID</th>
                                    <th>@Html.DisplayNameFor(model => model.UserName)</th>
                                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                                    <th>@Html.DisplayNameFor(model => model.RoleName)</th>
                                    <th>@Html.DisplayNameFor(model => model.MobileNo)</th>
                                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                                    <th>City</th>
                                    <th></th>
                                </tr>
                            </thead>

                            @if (Model != null)
                            {
                                foreach (var items in Model)
                                {
                                    <tr>
                                        <td style="display:none;">@items.UserId</td>
                                        <td>@items.UserName</td>
                                        <td>@items.Email</td>
                                        <th>@items.RoleName</th>
                                        <td>@items.MobileNo</td>
                                        <td>@items.Address</td>
                                        <td>@items.CityMaster.CityName</td>
                                        <td>
                                            @Html.ActionLink("Details", "Details", new { id = @items.UserId }, new { @class = "btn alert-info" })
                                            @Html.ActionLink("Edit", "Edit", new { id = @items.UserId }, new { @class = "btn btn-default" })
                                            @Html.ActionLink("Delete", "Delete", new { id = @items.UserId }, new { @class = "btn alert-danger", onclick = "return IsManager('" + @items.RoleName + "','" + @items.UserId + "');" })
                                        </td>


                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@*</div>*@

@*modal*@
<div class="modal fade" tabindex="-1" id="AlertModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <p id="AlertMessage"></p>
                        <label id="IdForDelete" style="display:none"></label>
                    </div>
                </form>
            </div>
            <div class="modal-footer" id="footer">
                <button type="button" id="btnOk" class="btn btn-primary button button4" onclick="ReloadPage()">
                    Ok
                </button>
                <button type="button" id="btnYes" class="btn btn-primary button button4">
                    Yes
                </button>
                <button type="button" id="btnNo" class="btn btn-danger button button4">
                    No
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        function IsManager(role, id) {
            if (role == 'Admin') {
                $("#AlertMessage").text("Admin cannot be deleted");
                $("#btnNo").hide();
                $("#btnYes").hide();
                $("#btnOk").hide();
                $("#AlertModal").modal('show');
                return false
            }
            else {
                $("#AlertMessage").text("Are you sure you wish to delete this user?");
                $("#btnNo").show();
                $("#btnYes").show();
                $("#btnOk").hide();
                $("#AlertModal").modal('show');
                $("#IdForDelete").val(id);
                return false
            }
        }

        function ReloadPage() {
            window.location = '@Url.Action("Index")';
        }

        $("#btnYes").click(function () {
            var label = $("#IdForDelete");
            var id = label.val();
            $("#AlertModal").modal('hide');
            var url = '@Url.Action("Delete","User")';
            var data = { id: id };
            $.ajax(
                {
                    type: "GET",
                    url: url,
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $("#AlertMessage").text("User deleted successfully");
                        $("#btnNo").hide();
                        $("#btnYes").hide();
                        $("#btnOk").show();
                        $("#AlertModal").modal('show');
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
        });

        $("#btnNo").click(function () {
            $("#AlertModal").modal('hide');
    });



    $(document).ready(function () {
        $('#userGrid').dataTable();
        var dtUsers = $('#userGrid').dataTable();

        $('#selectCity').on('change', function ()
        {
            debugger
            var selectedValue = $(this).val();
            if (selectedValue == "")
            {
                window.ReloadPage();
            }
            else {
                dtUsers.fnFilter("^" + selectedValue + "$", 6, true);
            }
        });

    });
</script>
