<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")



    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
</head>

<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
        <header class="main-header">
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <div class="pull-left">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" id="userName" class="dropdown-toggle" data-toggle="dropdown">
                                @{
                                    if (HttpContext.Current.Session["UserDetails"] != null)
                                    {
                                        var user = HttpContext.Current.Session["UserDetails"] as IMSBIZZ.Models.UserViewModel;
                                        <b>@Html.Label("Welcome " + user.FirstName == null ? "" : user.FirstName)  @Html.Label(user.LastName == null ? "" : user.LastName)</b> @Html.Label(user.RoleName == null ? "" : "(" + user.RoleName + ")")
                                    }
                                }
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu ">
                            <a href="#" id="signout" class="dropdown-toggle" data-toggle="dropdown">
                                Sign Out
                            </a>

                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        @RenderBody()
        @Html.Partial("_Footer")
        <div class="control-sidebar-bg"></div>
    </div>

    @Scripts.Render("~/bundles/lib")

    @RenderSection("scripts", required: false)

</body>
</html>

<script type="text/javascript">
    $('#signout').on('click', function () {
        window.location.href = "/User/SignOut/";
    });</script>